.homepage-buttons {
  margin-left: 13em;
  padding-left: 1.3em;
  overflow: auto;
}
.homepage-buttons::-webkit-scrollbar {
  display: none;
}
.homepage-button {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--clr-white);
  background-color: var(--clr-primary-5);
  padding: 0.5em 1em;
  border: none;
  border-radius: 1em;
  margin-bottom: 0.5em;
  margin-top: 1em;
  margin-right: 1em;
  cursor: pointer;
}
@media only screen and (max-width: 60em) {
  .homepage-buttons {
    margin-left: 5em;
  }
}
@media only screen and (max-width: 42.375em) {
  .homepage-buttons {
    margin-left: 0;
    padding-left: 0.5em;
  }
}
